<md-content class="md-padding" layout="row">
  <div flex-xs="" flex-gt-xs="30" layout="row" layout-wrap>
    <md-card ng-repeat="pokemonItem in pokemonsArray">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{pokemonItem.name}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-primary">Info</md-button>
      </md-card-actions>
    </md-card>
  </div>
</md-content>
